<div class="container">
    <div layout="column">
        <div layout="row">
            <h3>Početna stranica</h3>
        </div>
        <md-divider></md-divider>
        <md-card>
            <md-content>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="goToDocuments()">Prometni dokumenti</md-button>
                    <md-button class="md-raised md-primary" ng-click="goToBusinessYears()">Poslovne godine</md-button>
                    <md-button class="md-raised md-primary" ng-click="goToWares()">Roba u magacinu</md-button>
                    <md-button class="md-raised md-primary" ng-click="goToWarehouseCards()">Magacinske kartice</md-button>
                    <div class="label">Flat</div>
                </section>
            </md-content>
        </md-card>
    </div>
</div>