<md-dialog class="md-padding card" style="width: 400px">
    <form novalidate name="businessPartnerForm" layout="column">
        <md-dialog-content style="padding-top: 30px">
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Naziv</label>
                    <input id="name" name="name" type="text" data-ng-model="businessPartner.name" required>
                    <div ng-messages="businessPartnerForm.name.$error" ng-if="businessPartnerForm.name.$dirty">
                        <div ng-message="required">Obavezan unos naziva poslovnog partnera.</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
           <md-dialog-content>
                <md-input-container class="md-block">
                    <label>PIB</label>
                    <input id="pib" name="pib" type="text" data-ng-model="businessPartner.pib" required ng-disabled="disabled"
                           ng-pattern="/^[0-9]{9,9}$/" ng-change="businessPartnerForm.pib.$error.uniqueError = false">
                    <div ng-messages="businessPartnerForm.pib.$error" ng-if="businessPartnerForm.pib.$dirty">
                        <div ng-message="required">Obavezan unos PIB-a poslovnog partnera.</div>
                        <div ng-message="pattern">Molim Vas unesite validan pib, 9 cifara.</div>
                    </div>
                    <div ng-messages="businessPartnerForm.pib.$error">
                        <div ng-message="uniqueError">PIB mora biti jedinstven.</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Tip partnerstva</label>
                    <md-select ng-model="partnershipType" id="partnershipType" name="partnershipType"
                               required ng-change="setPartnershipType()">
                        <md-option ng-value="type" ng-repeat="type in partnershipTypes">{{ type }}</md-option>
                    </md-select>
                    <div ng-messages="businessPartnerForm.partnershipType.$error"
                         ng-if="businessPartnerForm.partnershipType.$touched">
                        <div ng-message="required">Obavezan izbor tipa partnerstva.</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Adresa</label>
                    <input id="address" name="address" type="text" data-ng-model="businessPartner.address">
                </md-input-container>
            </md-dialog-content>
            <md-autocomplete
                    md-selected-item="businessPartner.location"
                    md-search-text="searchText"
                    md-items="location in queryLocations(searchText)"
                    md-item-text="location.name"
                    md-min-length="0"
                    placeholder="Traži lokaciju...">
                <md-item-template>
                    <span class="item-title" style="display: block; line-height:1">
                        <span><strong>{{location.name}}</strong></span>
                        </span>
                    <span class="item-metadata" style="display: block; padding-bottom: 3px;line-height: 2">
                        <span style="padding-right: 10px">
                            PTT: {{location.ptt}}
                        </span>
                    </span>
                </md-item-template>
                <md-not-found>
                    Nije pronađena lokacija sa nazivom ili PTT-om "{{searchText}}".
                </md-not-found>
            </md-autocomplete>
            <md-autocomplete
                    style="margin-top: 10px; margin-bottom: 10px;"
                    md-selected-item="businessPartner.company"
                    md-search-text="searchText1"
                    md-items="company in queryCompanies(searchText1)"
                    md-item-text="company.name"
                    md-min-length="0"
                    placeholder="Traži kompaniju...">
                <md-item-template>
                        <span class="item-title" style="display: block; line-height:1">
                            <span><strong>{{company.name}}</strong></span>
                        </span>
                    <span class="item-metadata" style="display: block; padding-bottom: 3px;line-height: 2">
                            <span style="padding-right: 10px">
                                PIB: {{company.pib}}
                            </span>
                        </span>
                </md-item-template>
                <md-not-found>
                    Nije pronađena kompanija sa nazivom ili PIB-om "{{searchText}}".
                </md-not-found>
            </md-autocomplete>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Nazad</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="businessPartnerForm.$invalid || businessPartner.company == null">Sačuvaj
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>