<md-dialog class="md-padding card" style="width: 400px">
    <form novalidate name="businessYearForm" layout="column">
        <md-dialog-content style="padding-top: 30px">
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Godina</label>
                    <input id="year" name="year" type="text" data-ng-model="businessYear.year" required ng-pattern="/^[0-9]{4,4}$/">
                    <div ng-messages="businessYearForm.year.$error" ng-if="businessYearForm.year.$dirty">
                        <div ng-message="required">Obavezan unos godine.</div>
                        <div ng-message="pattern">Molim Vas unesite validnu godinu, 4 cifare.</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Nazad</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="businessYearForm.$invalid">Sačuvaj
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>